body {
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Exo', sans-serif;
}

.img-div {
    background-image: url(./pexels-photo.jpg);
    height: 70vh;
    background-size: cover;
    background-position: top
}

.navbar {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding-top: 30px;
}

header a {
    color: white;
    font-size: 30px;
    margin-left: 120px;
    border: 2px solid white;
    padding: 8px 12px;
}

.routes {
    color: white !important;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.routes:hover {
    transition: all 1s;
    background: white !important;
    color: black !important;
}

.contact {
    border: 2px solid white;
    padding: 8px 12px;
}

.myRoutes {
    margin-right: 120px;
}

.website-owner {
    color: white;
    margin-top: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Exo', sans-serif;
}

.website-owner h1 {
    text-decoration: underline;
}

@media (max-width: 768px) {
    header a {
        margin-left: 20px;
    }
}