body {
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Exo', sans-serif;
}

.img-div {
    background-image: url(./pexels-photodd.jpg);
    height: 450px;
    background-size: cover;
    background-position: center;
}

.wrapper {
    height: 450px;
    background: rgba(255, 87, 34, 0.78)
}

.navbar {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding-top: 30px;
}
header {
    margin-top: 15px;
}
header a {
    color: white;
    font-size: 30px;
    margin-left: 60px;
    border: 3px solid white;
    padding: 8px 12px;
    text-decoration: none !important;
    font-weight: 900;
}

.navbar-collapse,
.navbar-default,
.navbar-form {
    border: 0px solid transparent;
    width: 100% !important;
}
.glyphicon-align-justify {
    color: white !important;
}
.glyphicon-align-justify:haver {
    background: white !important;
}
.glyphicon-align-justify:focus {
    background: white !important;
}
.navbar-collapse ul li {
    border: 5px solid transparent
}

.navbar-collapse ul {
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

header a:hover,
header a:active {
    color: white;
}

.routes {
    color: rgb(255, 87, 34) !important;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 3px solid white;
    padding: 8px 12px;
    transition: all 0.5s linear;
    font-weight: 700;
    background: white !important
}

.routes:hover {
    transition: all 0.5s linear;
    background: rgb(255, 87, 34) !important;
    color: white !important;
    border: 3px solid white;
    font-weight: 700
}

.myRoutes {
    margin-right: 60px;
}

.website-owner {
    color: white;
    margin-top: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Exo', sans-serif;
}

.website-owner h1 {
    letter-spacing: 3px;
    font-size: 40px;
    font-weight: 900
}

.website-owner h3 {
    font-size: 25px;
    font-weight: 700
}

.myphoto img {
    margin: auto;
    border-radius: 50%;
    margin-top: 80px;
    margin-bottom: 50px;
}

.desc {
    text-align: center;
    margin-top: 160px;
}

.bio {
    font-size: 35px;
    font-weight: 700;
}

.separator {
    height: 10px;
    background: rgb(255, 87, 34);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.aboutMy {
    font-size: 20px;
}

.first-paragraph {}

.second-paragraph {}

.third-paragraph {}

.background-comp {
    margin-bottom: 50px;
}

.bio-comp {}

@media (max-width: 768px) {
    header a {
        margin-left: 20px;
    }
    .myRoutes {
        margin-right: 0px;
    }
    .navbar-collapse {
        position: absolute;
        z-index: 100;
    }
    .navbar-collapse ul li a{
        background: white !important;
        color: rgb(255, 87, 34) !important;
        transition: all 0.5s;
    }
    
    .navbar-collapse ul li a:hover{
        transition: all 0.5s;
        background: rgb(255, 87, 34) !important;
        color: white !important;
    }
}